[Unit]
# describe the app
Description=My App
# start the app after the network is available
After=network.target

[Service]
# usually you'll use 'simple'
# one of https://www.freedesktop.org/software/systemd/man/systemd.service.html#Type=
Type=simple
# which user to use when starting the app
User=bun
# path to your application's root directory
WorkingDirectory=/home/bun/bun-htmx-4640
# the command to start the app
# requires absolute paths
ExecStart=/home/bun/.bun/bin/bun run index.tsx
# restart policy
# one of {no|on-success|on-failure|on-abnormal|on-watchdog|on-abort|always}
Restart=always

[Install]
# start the app automatically
WantedBy=multi-user.target
